#contacto {
  @include defaultSection;
}

.contact-mf {
  margin-top: 4rem;
}

// BTN
.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  background-color: $bg-secondary;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: .9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px $bg-secondary;
  display: block;
}

.socials {
  padding: 1.5rem 0;
    ul li {
    display: inline-block;
  }
}



.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px $bg-secondary;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
   i {
    color: #fff;
  }
}

.socials ul,
.list-ico {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

// .ul-resect,
// .socials ul,
// .list-ico,
// .blog-wrapper .post-meta ul,
// .box-comments .list-comments,
// .widget-sidebar .list-sidebar,
// .widget-tags ul {
//   list-style: none;
//   padding-left: 0;
//   margin-bottom: 0;
// }

.list-ico {
  line-height: 2;
    span {
    color: $bg-secondary;
    margin-right: 10px;
  }
}


