.sobreMi {
  @include defaultSection;
}

.container-info {
  display: flex;
  justify-content: start;
  align-items: start;
}
.about-img {
  display: flex;
  justify-content: center;
    img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.5);
  }
}


.title-left {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: $bg-secondary;
  opacity: 0.5;
  width: 100px;
  bottom: -12px;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
.pull-right {
  float: right;
}
.skill-mf .progress {
  background-color: #cde1f8;
  margin: .1rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}


